<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube 2 mp3 Converter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
        <div class="top-container">
            <form method="post" id="form" action="/convert-mp3">
                <h1><i class="fa-brands fa-youtube"></i> Youtube to Mp3 Converter</h1>
                <h4>Enter the video ID</h4>
                <div class="inp-btn">
                    <input type="text" name="videoID" id="videoID"><button id="convert-btn">Convert</button>
                </div>
            </form>
        </div>
        <div class="bottom-container">
            <% if (typeof success != "undefined" && success) { %>
                <div class="success">
                    <p><%= song_title %></p>
                    <a href="<%= song_link %>"><button id="download-btn">DOWNLOAD</button></a>
                </div>
            <% } else if(typeof success != "undefined" && !success){ %>
                    <div class="errors">
                        <p><%= message %></p>
                    </div>
                <%} %>
        </div>

</body>
</html>